form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
}

.under-title {
    font-size: 18px;
    font-weight: 600;
}

label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

input {
    width: 100%;
    height: 56px;
    border-radius: 8px;
}

.label-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.button-sign-in {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #4880FF;
    padding-top: 32px;
    padding-bottom: 32px;
    color: white;
    border-radius: 8px;
    font-size: 32px;
}

.login-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.welcome {
    font-weight: 100;
}

span {
    font-weight: 700;
}

.welcome-page-wrapper {
    display: flex;
}


.title-welcome-wrapper {
    width: 50%;
}

.link-wrapper {
    width: 50%;

    a {
        text-decoration: none;
        font-style: none;
    }

    li {
        list-style: none;
    }
}